# Pega aquí el token de tu bot de Discord (NO LO COMPARTAS CON NADIE)
DISCORD_TOKEN=tu_token_aqui
GEMINI_API_KEY=tu_api_key_de_gemini_aqui
GROQ_API_KEY=tu_api_key_de_groq_aqui
GITHUB_TOKEN=tu_github_token_aqui
